body {
  overflow-y: hidden;
}

.network {
  height: 90vh;
  width: 100%;
  overflow-y: hidden;
  clear: none;
}

.ui.card {
   position: fixed;
   top: 80;
   right: 40;
   z-index: 1;
   visibility: hidden;
}

.ui.card.visible {
   position: fixed;
   top: 80;
   right: 40;
   z-index: 1;
   visibility: visible;
}

.ui.segment {
  margin: 20px;
  padding: 0px;
}

.edge line {
  stroke: #333;
  stroke-opacity: 0.8;
}

.edge.active line {
  stroke: #c33;
  stroke-opactiy: 1.0;
}

.node circle {
  stroke: #000;
  stroke-width: 0px;
}

.node.active circle {
  stroke: #000;
  stroke-width: 2px;
  fill: #c33;
}

.node.neighbor circle {
  stroke: #000;
  stroke-width: 2px;
  fill: #33c;
}

.node text {
  font-color: #333;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 12px;
  visibility: hidden;
}

.node.active text {
  /* visibility: visible; */
}

.node.neighbor text {
  /* visibility: visible; */
}
